{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "it": true,
    "expect": true
  },

  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link", "NavLink" ],
      "specialLink": [ "to" ]
    }],
    "react/prop-types": 0,
    "comma-dangle": ["error", "never"]
  }
}